<template>
  <div id="wrapper">
    <div class="flex w-full h-screen items-center justify-center text-center">
      <div class="p-12 bg-gray-100 border border-gray-300" @dragover="dragover" @dragleave="dragleave" @drop="drop">
        <div>
          <h1>Démo EMERGEN - Checksum</h1>
          Glissez-déposez les fichiers que vous souhaitez déposer pour EMERGEN
        </div>
        <ul class="mt-4" v-if="this.filelist.length" v-cloak>
          <li class="text-sm p-1" v-for="file in this.filelist">
            {{ file.name }} : {{ file.checksum }}<button class="ml-2" type="button" @click="remove(filelist.indexOf(file))" title="Remove file">x</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  var fs = require('fs')
  var crypto = require('crypto')

  export default {
    name: 'dragndrop-test',
    data: function () {
      return {
        filelist: [] // Store our uploaded files
      }
    },
    methods: {
      onChange () {
        // this.filelist = [...this.$refs.file.files]
      },
      remove (i) {
        this.filelist.splice(i, 1)
      },
      dragover (event) {
        event.preventDefault()
        // Add some visual fluff to show the user can drop its files
        if (!event.currentTarget.classList.contains('bg-green-300')) {
          event.currentTarget.classList.remove('bg-gray-100')
          event.currentTarget.classList.add('bg-green-300')
        }
      },
      dragleave (event) {
        // Clean up
        event.currentTarget.classList.add('bg-gray-100')
        event.currentTarget.classList.remove('bg-green-300')
      },
      drop (event) {
        event.preventDefault()

        var file = event.dataTransfer.files[0]
        var data = fs.readFileSync(file.path)
        var checksum = generateChecksum(data)
        console.log(checksum)
        this.filelist.push({
          name: file.name,
          checksum: checksum
        })

        event.currentTarget.classList.add('bg-gray-100')
        event.currentTarget.classList.remove('bg-green-300')
      }
    }
  }

  function generateChecksum (str, algorithm, encoding) {
    return crypto
      .createHash(algorithm || 'md5')
      .update(str, 'utf8')
      .digest(encoding || 'hex')
  }
</script>

<style>
  @import url('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.4/tailwind.min.css');
  [v-cloak] {
    display: none;
  }
</style>
